h1 {
    font-family: Arial, Helvetica, sans-serif, ;
    font-size: 24px;
    margin: 0;
    padding-bottom: 6px;
}

p {
    color: red;
}
:first-of-type{
    color:blue; text-decoration: none 
}ul {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    padding: 16px;
}

ul.primary li:nth-child(3n-1) {
    background: skyblue;
    color: white;
    font-weight: bold;
}